.title {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(to right, #1a1a1a, #0a0a0a, #000000);

    color: white;
    text-align: center;
    font-family: sans-serif;
}


#game-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 300px;
}

#frijoles {
    cursor: pointer;
}

#gitano {
    cursor: pointer;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 2px solid wheat;
    box-shadow:
        0 0 8px rgba(218, 165, 32, 0.5),
        0 0 14px rgba(140, 90, 255, 0.18),
        0 0 40px rgba(140, 90, 255, 0.20),
        0 0 80px rgba(140, 90, 255, 0.1);
    border-radius: 10px;
    background: radial-gradient(circle at bottom,#2b1b4f, darkblue);
}