.title{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

body{
    background-color: white;
    scroll-behavior: smooth;

}

#frijoles{
    cursor: pointer;
}

#gitano{
    cursor: pointer;
}

#gameCanvas{

    background-color: blueviolet;
    height: 1080px;
    width: 2160px;
    display: flex;
    justify-content: center;
}

